.thead{
    background-color: #28d;
}
th{
    color: blanchedalmond;
}
// .btn{
// background-color: #28d;

// float: right;
// color:white;
// }
td{
    text-align-last: left;
  }
  #bttn{
    height: 100%;
    margin-top: -4%;
    float: right;
    // color:white;
    }