<div class="input-group">
  <input type="text" class="form-control-sm bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="term">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<div class="input-group-btn">
  <button type="button" class="btn btn-outline-primary" id="bttn" routerLink="/default/comptes">Nouvel Comptes<i class="fa fa-plus" ></i></button>
</div>
<br>
<br>

<table class=" table table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">N</th>
        <th scope="col">N°Compte</th>
        <th scope="col">Solde</th>
        <th scope="col">Cree Par</th>
        <th scope="col">Date De Creation</th>
      

        <th scope="col">Proprietaire</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let compte of allCompte | filter:term  | paginate:{itemsPerPage:5,currentPage:p}">
        <td>{{compte.id}}</td>
        <td>{{compte.numero}}</td>
        <td>{{compte.solde}}</td>
        <td>{{compte.usercreate.nomComplet}}</td>
        <td>{{compte.datecreate | date:'yyyy-MM-dd H:mm:ss'}}</td>
        <td>{{compte.partenaire.users[0].nomComplet}}</td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer pb-0 pt-3">
<pagination-controls (pageChange)="p=$event">
                    
</pagination-controls>
  </div>