<div class="input-group">
  <input type="text" class="form-control-sm bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="term">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<br>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Non Complet</th>
      <th>Username</th>
      <th>Ninea</th>
      <th>Registre</th>
      <th>Adresse</th>
      <th>Telephone</th>
      <th>Sologant</th>
      <th>Status</th>
      <th>Nbs comptes</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let part of allpart  | filter:term | paginate:{itemsPerPage:5,currentPage:p}">
      <td scope="row">{{part.id}}</td>
      <td>{{part.users[0].nomComplet}}</td>
      <td>{{part.users[0].username}}</td>
      <td>{{part.ninea}}</td>
      <td>{{part.register}}</td>
      <td>{{part.adresse}}</td>
      <td>{{part.tel}}</td>
      <td>{{part.description}}</td>
      <td>
        <div *ngIf="part.users[0].isActive; else elseBlock">
          <label class="switch">
            <input type="checkbox" checked (click)="Etat(part.id)">
            <span class="slider round"></span>
          </label>
          </div>
      <ng-template #elseBlock>
        <label class="switch">
          <input type="checkbox" (click)="Etat(part.id)">
          <span class="slider round"></span>
        </label>
      </ng-template>
      </td>
      <td>[{{part.comptes.length}}]</td>
    </tr>
  </tbody>
</table>
  <div class="card-footer pb-0 pt-3">
    <pagination-controls (pageChange)="p=$event">
                        
    </pagination-controls>
    </div>  
    </div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
