<div class="card text-center m-3">
  <div class="card-body">
<table class="table">
  <thead class="thead">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Nom</th>
      <th>Profil</th>
      <th>Photo</th>
      <th>Status</th>
      <th>Modification</th>
      <th>Suppression</th>

    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let user of alluser | paginate:{itemsPerPage:5,currentPage:p}">
      <td scope="row">{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.nomComplet}}</td>
      <td>{{user.profil.libelle}}</td>
          <td><img [src]="AfficheImage(user)" alt=""> </td>
      <td>
        <div *ngIf="user.isActive; else elseBlock">
          <button  class="btn btn-success" (click)="Etat(user.id)" >Actif</button>

          </div>
      <ng-template #elseBlock>
        <button class="btn btn-danger" (click)="Etat(user.id)">Inactif</button>
      </ng-template>
      </td>
      <td><button class="fa fa-envelope" (click)="Action(user.id)">Mod</button></td>
      <td><button class="fa fa-plus" (click)="Action(user.id)">Sup</button></td>
    </tr>
  </tbody>
</table>
</div>
<div class="card-footer pb-0 pt-3">
  <pagination-controls (pageChange)="p=$event">
                      
  </pagination-controls>
  </div >
</div>
  