.container{
    margin-top:-1%;
  }
    .login-header {
      background: #28d;
      padding: 10px;
      font-size: 1.4em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
    .container input[type="submit"] {
      margin-top: 5%;
      background: #28d;
  
      border-color: transparent;
      color: #fff;
      cursor: pointer;
      
    }
  
    
    .container input[type="submit"]:hover {
      background: rgb(17, 204, 48);
    }
    .btn{
      background-color: #28d;
     
      color:white;
      }
    