
     
        <button type="button"  class="btn btn-outline-primary" id="bttn"  routerLink="/defaultpart/liste-affectation">Liste Affecttion<i class="fas fa-fw fa-table"></i></button>
   
<div class="container">
    
    
    <div class="login-triangle"></div>
    <i class="fa fa-money" aria-hidden="true"></i>

    <h2 class="login-header">Affecttion  Compte
    </h2>
    
    <div class="form-group col-md-6">
        <label for="inputPassword4">Solde Du Compte: </label>
        <input type="text"  [value]="solde" formControlName="solde" name="solde" readonly  class="mysolde">
    </div>
    <form  [formGroup]="AffecttionForm" class="login-container" >
        <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
      
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4" >Date Debut</label>
            <input type="datetime" class="form-control"  formControlName="dateAfect" name="dateAfect" placeholder="yyyy-mm-dd h:m:s">
           
        </div>
        <div class="form-group col-md-6">
            <label for="inputDate4">Date Fin</label>
            <input type="datetime" class="form-control" formControlName="dateFin" name="dateFin" placeholder="yyyy-mm-dd h:m:s">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Compte</label>
            <select  formControlName="numero" class="form-control" name="numero">
              <option value="">Choisir Un Compte</option>
            <option *ngFor=" let numero of numeros " value="{{numero.id}}">
                {{numero.numero}}
            </option>
          
            </select>
             </div>
             <div class="form-group col-md-6">
                <label for="inputState">Utilisateur</label>
                <select id="inputState" formControlName="user" class="form-control">
                  <option value="">Choisir Un Utilisateur</option>
                <option *ngFor=" let user of users " value="{{user.id}}">
                    {{user.nomComplet}}
                </option>
              
                </select>
             </div>
        </div>
       
        <div class="form-row">
             <div class="form-group col-md-6">
            <input class="btn" type="submit" (click)="OnSub()" value="Enregisterer">
             </div>
        
        </div>
        
    </form>
</div>
