<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<div class="input-group-btn">
    <button type="button" class="btn btn-outline-primary" id="bttn"  routerLink="/defaultpart/lister-operation">Liste Transaction<i class="fas fa-fw fa-table" ></i></button>
  </div>
    <br>  
<div class="container">
    

    <div class="login-triangle"></div>
    

    <h2 class="login-header"><i class="fas fa-hand-holding-usd"></i>Transaction<i class="fas fa-hand-holding-usd"></i></h2>
    <form  [formGroup]="TransactionForm" class="login-container" >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="depot">
                    <input type="radio"  formControlName="depot" name="radiobtn" id="depot"  > <span>Dépot</span>
                  </label>
            </div>
            <div class="form-group col-md-6">
                  <label for="retrait">
                    <input type="radio" name="radiobtn" formControlName="retrait"  id="retrait"> <span>Retrait</span>
                  </label>
              
            </div>

            <div class="form-group col-md-6">
                <label for="inputState">Compte</label>
                <select id="inputState" formControlName="numero" class="form-control" name="numero">
                  <option value="">Choisir un compte pour la transaction</option>
                <option *ngFor=" let numero of numeros " value="{{numero.id}}">
                    {{numero.numero}}
                </option>
              
                </select>
            </div>
     </div>


      
    <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4" >Code De La Transaction</label>
            <input type="text" class="form-control" formControlName="code" name="code" placeholder="Code De Transaction">
           
        </div>
  
        <div class="form-group col-md-6">
            <label for="inputEmail4" >Nom Du Deposant</label>
            <input type="text" class="form-control" [value]="nomdep" formControlName="nomdep" name="nomdep" placeholder="Nom Du Deposant">
           
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputText4">Telephone Du Deposant</label>
            <input type="text" class="form-control" [value]="teldep" formControlName="teldep" name="teldep" placeholder="Telephone Du Deposant"  [value]="teldep">
        </div>
       
       
            <div class="form-group col-md-6">
            <label for="inputEmail4">Nom Du Recepteur</label>
            <input type="text" class="form-control" [value]="nomRecepteur" formControlName="nomRecepteur" name="nomRecepteur" placeholder="Nom Du Recepteur">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputPassword4">Telephone Du Recepteur</label>
            <input type="text" class="form-control" [value]="telrep" formControlName="telrep" name="telrep" placeholder="Telephone Du Recepteur">
            </div>
    
            <div class="form-group col-md-6">
                <label for="inputPassword4">Montant</label>
                <input type="number" class="form-control" [value]="montant"  formControlName="montant" name="montant" placeholder="Montant">
            </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Tarifs</label>
            <input type="text" formControlName="tarifs"  [value]="tarifs" class="form-control" id="inputCity"  name="tarifs"  placeholder="Frais" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Montant Total</label>
            <input type="text" formControlName="montantt"  placeholder="Montant Total" [value]="montantt" class="form-control" id="inputCity"  name="montantt"  >
        </div>
     
            <div class="form-group col-md-6">
                <label for="inputPassword4">Piece Du Recepteur</label>
                <input type="text" class="form-control" [value]="piece" formControlName="piece" name="piece"  placeholder="CNI ou PASSPORT">
            </div>
            <div class="form-group col-md-6">
                <input class="btn" type="submit" (click)="OnSub()" value="Enregisterer">
            </div>
        </div>
        <!-- <div class="form-row"> -->
        <!-- <div class="form-group col-md-6">
            <label for="inputCity">Montant Total</label>
            <input type="text" formControlName="montantt" [value]="montantt" class="form-control" id="inputCity"  name="montantt"  placeholder="Montant Total">
        </div> -->
        
             
        <!-- </div> -->
    </form>
</div>
</body>
</html>