.thead{
    background-color: transparent;
    
}
.tbody{
width: 100%;
}
th{
    color:#28d;
    text-align-last: left;
    
}
#bttn{
    height: 100%;
    margin-top: -4%;
    float: right;
    // color:white;
    }
td{
    text-align-last: left;
  }