<div class="input-group">
  <input type="text" class="form-control-sm bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="term">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<div class="input-group-btn">
  <button type="button" class="btn btn-outline-primary" id="bttn" routerLink="/default/faire-depot">Nouvel Depot<i class="fa fa-plus" ></i></button>
</div>
  <br>
  <br>
  <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">N</th>
          <th scope="col">N°Compte</th>
          <th scope="col">Montant</th>
          <th scope="col">Effectuer Par</th>
          <th scope="col">Date Du Depot</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let depot of alldepot  | filter:term  | paginate:{itemsPerPage:5,currentPage:p}">
          <td>{{depot.id}}</td>
          <td>{{depot.comptes.numero}}</td>
          <td>{{depot.montant}}</td>
          <td>{{depot.user.nomComplet}}</td>
          <td>{{depot.datedepot | date:'yyyy-MM-dd H:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>

<div class="card-footer pb-0 pt-3">
  <pagination-controls (pageChange)="p=$event">
                      
  </pagination-controls>
  </div >